body{
    margin: 15px;
    background-color: rgb(105,105,105);
    color: white;
}
h1 {
    color: black;
}
h4 {
    color: gold;
}

a {
    color: dodgerblue;
}
form{
    color: white;
}
label{
    color: white;
}
div{
    color: white;
}