body{
    margin: 15px;
    background-color: rgb(89, 89, 89);
    color: white;
}
h1 {
    color: black;
}
h4 {
    color: gold;
}

a {
    color: dodgerblue;
    font-size: medium;
}
form{
    color: white;
}
label{
    color: white;
}
div{
    color: white;
}
p{
    font-size: medium;
}